{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>采购入库</title>
  <!-- DataTables -->
{% endblock title %}
<link rel="stylesheet" href="{% static 'AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% block navheader %}
<section class="content-header">
	<h1 style="height: 0px">
	采购入库
	<small>Control panel</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> 采购入库</a></li>
	</ol>
</section>
{% endblock navheader %}

{% block content %}
<section class="content">
	<div class="row">
		<div class="box">
			<div class="box-header">
				<form class="form-horizontal">
					<div class="box-body">
                        <div>
                            <div class="form-group col-sm-3">
                                <label for="c_receiptNo" class="col-sm-4 control-label">入库单号：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="c_receiptNo" placeholder="入库单号">
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="c_m_type" class="col-sm-4 control-label">材料类别：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="c_m_type" placeholder="材料类别">
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="c_m_class" class="col-sm-4 control-label">材料小类：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="c_m_class" placeholder="材料小类">
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="c_m_name" class="col-sm-4 control-label">材料名称：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="c_m_name" placeholder="材料名称">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group col-sm-3">
                                <label for="c_provider" class="col-sm-4 control-label">供货单位：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="c_provider" placeholder="供货单位">
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="c_start" class="col-sm-4 control-label">开始时间：</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" id="c_start" placeholder="开始时间">
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="c_end" class="col-sm-4 control-label">结束时间：</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" id="c_end" placeholder="结束时间">
                                </div>
                            </div>
                            <div class="form-group col-sm-3"></div>
                        </div>
                        <div>
                            <div class="form-group col-lg-4" ></div>
                            <div class="form-group col-lg-4" >
                                <button type="button" class="btn btn-default col-sm-3" id="q_btn">查询</button>
                                <span class="col-sm-1"></span>
                                <button type="reset" class="btn btn-default col-sm-3">重置</button>
                                <span class="col-sm-1"></span>
                                <button type="button" class="btn btn-info col-sm-3" onclick="javascript:modal();">新增</button>
                            </div>
                            <div class="form-group col-lg-4" ></div>
                        </div>
                    </div>
					<!-- /.box-body -->
				</form>
			</div>
			<div class="box-body" style="height: 100%">
				<table id="store_table" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th style="width: 90px">日期</th>
							<th class="col-lg-1">入库单号</th>
							<th class="col-lg-1" style="width: 170px">材料类别 > 小类</th>
							<th class="col-lg-1">材料名称</th>
							<th class="col-lg-1" style="width: 115px">品牌/规格/型号</th>
							<th>数量</th>
							<th>单位</th>
							<th>材料费</th>
                            <th>税率</th>
							<th>验收员</th>
							<th class="col-lg-1" >所属项目</th>
							<th class="col-lg-1" >供货单位</th>
						</tr>
					</thead>
					<tbody>
				  	</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-store" >
		<div class="modal-dialog" style="width: 78%">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				    <span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title">编辑</h4>
				</div>
				<div class="modal-body">
					<!-- form start -->
					{% load mytags %}
					<form class="form-horizontal">
						<div class="box-body">
							<input type="text" id="storeid" value="{{ store.id }}" hidden>
							<div class="form-group">
								<div class="form-group col-lg-4">
							  		{{ store_form.date|label_with_classes:'col-xs-5 control-label' }}
							 		{{store_form.date}}
								</div>
								<div class="form-group col-lg-4">
							  		{{store_form.receiptNo |label_with_classes:'col-lg-5 control-label' }}
									{{store_form.receiptNo}}
								</div>
                                <div class="form-group col-lg-4">
							  		{{store_form.project |label_with_classes:'col-lg-5 control-label' }}
									{{store_form.project}}
								</div>

							</div>
							<div class="form-group">
                                <div class="form-group col-lg-4">
							  		{{ store_form.mtype|label_with_classes:'col-xs-5 control-label' }}
							 		{{store_form.mtype}}
								</div>
								<div class="form-group col-lg-4">
							  		{{store_form.mclass |label_with_classes:'col-lg-5 control-label' }}
									{{store_form.mclass}}
								</div>
								<div class="form-group col-lg-4">
							  		{{ store_form.mname|label_with_classes:'col-xs-5 control-label' }}
							 		{{store_form.mname}}
								</div>

							</div>
							<div class="form-group">
                                <div class="form-group col-lg-4">
							  		{{store_form.specifi |label_with_classes:'col-lg-5 control-label' }}
									{{store_form.specifi}}
								</div>
                                <div class="form-group col-lg-4">
							  		{{store_form.unit |label_with_classes:'col-lg-5 control-label' }}
									{{store_form.unit}}
								</div>
								<div class="form-group col-lg-4">
							  		{{ store_form.num|label_with_classes:'col-xs-5 control-label' }}
							 		{{store_form.num}}
								</div>
							</div>
							<div class="form-group">
                                <div class="form-group col-lg-4">
							  		{{store_form.materialfee |label_with_classes:'col-lg-5 control-label' }}
									{{store_form.materialfee}}
								</div>
								<div class="form-group col-lg-4">
							  		{{store_form.rate|label_with_classes:'col-xs-5 control-label' }}
							 		{{store_form.rate}}
								</div>
                                <div class="form-group col-lg-4">
							  		{{ store_form.price|label_with_classes:'col-xs-5 control-label' }}
							 		{{store_form.price}}
								</div>
							</div>
							<div class="form-group">
                                <div class="form-group col-lg-4">
							  		{{store_form.inspector |label_with_classes:'col-lg-5 control-label' }}
									{{store_form.inspector}}
								</div>
								<div class="form-group col-lg-4">
							  		{{store_form.buyer |label_with_classes:'col-lg-5 control-label' }}
									{{store_form.buyer}}
								</div>
								<div class="form-group col-lg-4">
							  		{{store_form.storeloc |label_with_classes:'col-lg-5 control-label' }}
									{{store_form.storeloc}}
								</div>

							</div>
							<div class="form-group">
								<div class="form-group col-lg-4">
							  		{{store_form.provider |label_with_classes:'col-lg-5 control-label' }}
									{{store_form.provider}}
								</div>
								<div class="form-group col-lg-4">
							  		{{store_form.factory |label_with_classes:'col-lg-5 control-label' }}
									{{store_form.factory}}
								</div>
								<div class="form-group col-lg-4">
							  		{{store_form.remark |label_with_classes:'col-lg-5 control-label'}}
							  		{{store_form.remark}}
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="savebtn">Save changes</button>
				</div>
			</div>
		<!-- /.modal-content -->
		</div>
          <!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	
	
<div class="modal fade" id="modal-config">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">操作确认</h4>
            </div>
            <div class="modal-body">
				<i class="Hui-iconfont">&#xe688;</i> 确认删除选中的项？
            </div>
            <div class="modal-footer">
                <a href="#" id="confirmDelete" class="btn bg-red btn-sm ok" data-dismiss="modal">确认</a>
                <a href="#" class="btn bg-green btn-sm" data-dismiss="modal">取消</a>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock content %}

{% block js %}
<!-- DataTables -->
<script src="{% static 'AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>

    function send_data(){
        const receiptNo = trim($('input#c_receiptNo')[0].value);
        const m_type = trim($('input#c_m_type')[0].value);
        const m_class = trim($('input#c_m_class')[0].value);
		const m_name = trim($('input#c_m_name')[0].value);
		let data = {csrfmiddlewaretoken:'{{csrf_token}}'};

		if (receiptNo!=''){
			data['m_type']=receiptNo;
		}
		if (m_type!=''){
			data['m_type']=m_type;
		}
		if (m_class!=''){
			data['m_class']=m_class;
		}
		if (m_name!=''){
			data['m_name']=m_name;
		}
        return data;
    }

    let in_table = $('#store_table').DataTable({
        paging: true,
        lengthChange: false,
        searching: false,
        ordering: true,
        info: true,
        autoWidth: false,
        ajax: {
            url: "{% url 'store:in_data' %}",
            type: "POST",
            async : false,
            data: function () {
                let e = send_data();
                return e;
            },
            dataSrc: 'instores'
        },
        columns: [
            {data: 'date'},
            {data: 'receiptNo'},
            {data: 'mtype_mclass'},
            {data: 'mname'},
            {data: 'specifi'},
            {data: 'num'},
            {data: 'unit'},
            {data: 'materialfee'},
            {data: 'rate'},
            {data: 'inspector'},
            {data: 'project.name'},
            {data: 'provider'},
            {data: null, render: function (data) {
                let id = data['id']
                    return '<button class="btn btn-sm btn-primary btn-warning" onclick="javascript:del(' + id + ');">删除</button>'
                }},
        ]
    });

    function trim(str){   
    	return str.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');   
	}
    $("#q_btn").click(function () {
        in_table.ajax.reload();
    });
    
    function succFunction(res){
		if(res.status==200){
			// 消息框
			toastr.options.timeOut = 1000;
			toastr.options.onHidden = function() { window.location.href = "{% url 'store:inlists' %}"; }
			toastr.success(res.msg);
			return true;
		}else{
			toastr.error(res.msg)
		}
	}
	
	function del(id){
		$('#modal-config').modal(); 
		$("#confirmDelete").click(function(){
			$.ajax({
				url:"{% url 'store:in_del' %}",
				type:'post',
				async : false, 
				data:{
				    csrfmiddlewaretoken:'{{csrf_token}}',
					'id':id
				},
				success:succFunction,
			});
			
        });
		
	}
	
    function save(id){
    	const date = $('div#modal-store input#date')[0].value;
    	const receiptNo = $('div#modal-store input#receiptNo')[0].value;
    	const mtype = $('div#modal-store select#mtype')[0].value;
    	const mclass = $('div#modal-store select#mclass')[0].value;
    	const mname = $('div#modal-store input#mname')[0].value;
    	const specifi = $('div#modal-store input#specifi')[0].value;
    	const num = $('div#modal-store input#num')[0].value;
    	const unit = $('div#modal-store input#unit')[0].value;
    	const rate = $('div#modal-store input#rate')[0].value;
    	const factory = $('div#modal-store input#factory')[0].value;
    	const materialfee = $('div#modal-store input#materialfee')[0].value;
    	const price = $('div#modal-store input#price')[0].value;
    	const buyer = $('div#modal-store input#buyer')[0].value;
    	const inspector = $('div#modal-store input#inspector')[0].value;
    	const storeloc = $('div#modal-store input#storeloc')[0].value;
    	const project = $('div#modal-store select#project')[0].value;
    	const provider = $('div#modal-store input#provider')[0].value;
    	const remark = $('div#modal-store textarea#remark')[0].value;
		$.ajax({
			url:"{% url 'store:save' %}",
			type:'POST',
			async : false, 
			data:{
				csrfmiddlewaretoken:'{{csrf_token}}',
				'id':id,
				'date':date,
				'receiptNo':receiptNo,
				'mtype': mtype,
				'mclass': mclass,
				'mname':mname,
				'specifi':specifi,
				'num':num,
				'unit':unit,
				'rate':rate,
				'factory':factory,
				'materialfee':materialfee,
				'price':price,
				'buyer':buyer,
				'inspector':inspector,
				'storeloc':storeloc,
				'project':project,
				'provider':provider,
				'remark':remark,
			},
			success:succFunction,
            error: function () {

            }
		});
	}

    function modal(name, id){
		id = id;
		var title = $('div#modal-store h4.modal-title')[0]
		if(name=='edit'){
			$.ajax({
				url:"{% url 'project:query' %}",
				type:'POST',
				async : false, 
				data:{
					csrfmiddlewaretoken:'{{ csrf_token }}',
					'id':id,
				},
				success:function(res){
					let ids = $('div#modal-store input#storeid')[0]
					let code = $('div#modal-store input#code')[0];
					let name = $('div#modal-store input#name')[0];
					let remark = $('div#modal-store textarea#remark')[0];
					//code.setAttribute('text', res[0].code);
					title.textContent='编辑';
					ids.value = id;
					code.value = res[0].code;
					name.value = res[0].name;
					if(res[0].remark==null){
						remark.value = '';
					}
					else{
						remark.value = res[0].remark;
					}
				},
			});
			$("#modal-store").modal();
		}else{
			title.textContent='新增';
			let l = $('input, textarea');
			for(let i = 0; i < l.length; i++){
				l[i].value=''
			}
			let date = $('div#modal-store input#date')[0];
			date.valueAsDate = new Date();
			let m_type = $('div#modal-store select#mtype')[0];
			let m_type_ops = m_type.options
            for( let i=0; i < m_type_ops.length; i++){
                let op_name = m_type_ops[i].innerText.replace('(\'', '').replace('\',)','');
                m_type_ops[i].innerText = op_name;
            }
            let m_class = $('div#modal-store select#mclass')[0];
			let m_class_ops = m_class.options
            for( let i=0; i < m_class_ops.length; i++){
                // m_class_ops[i].innerHTML = m_class_ops[i].innerHTML.replace('(\'', '').replace('\',)','');
                let op_name = m_class_ops[i].innerText.replace('(\'', '').replace('\',)','');
                m_class_ops[i].innerText = op_name;
            }
			$("#modal-store").modal();
		}
		
	}
	$("#savebtn").click(function(){
		const id = $('div#modal-store input#storeid')[0].value;
		save(id);				
    });
	
	$('select#mtype').change(function () {
        const m_type_s = $(this).find('option:selected').text()
        let send = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            m_type: m_type_s
        }
        $.ajax({
            url:"{% url 'mclass:m_data' %}",
            async : false,
            type: "POST",
            data: send,
            success: function (data) {
                let sele_mclass_ops = $('select#mclass')
                sele_mclass_ops.empty();
                sele_mclass_ops.append('<option></option>');
                for(let i = 0; i < data.length; i++ ){
                    d = data[i]
                    var objOption = document.createElement("OPTION");
                    objOption.text = d['mclass'];
                    objOption.value = d['mclass'];
                    sele_mclass_ops.append(objOption);
                }

            }
        })
    });

	$('select#mclass').change(function () {
        const m_class_s = $(this).find('option:selected').text()
        let send = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            m_class: m_class_s
        }
        $.ajax({
            url:"{% url 'mclass:m_data' %}",
            async : false,
            type: "POST",
            data: send,
            success: function (data) {
                $('select#mtype option').each(function(){
                    $(this).attr("selected",false);
                });
                $('select#mtype').find("option:contains('" + data[0]['mtype'] + "')").attr("selected",true);
                $('select#mtype').attr('src',$('select#mtype').attr('src'));
            }
        })
    });

	$('#materialfee').change(function () {
	    const material_fee = $('#materialfee').val();
	    const num = $('#num').val();
	    const rate = $('#rate').val();
        if (material_fee!='' & num!='' & rate!=''){
            let rate_fee = (parseFloat(material_fee)*parseFloat(rate))/(1+parseFloat(rate));
            const price = (material_fee - rate_fee)/parseFloat(num)
            {#$('#price').val(price.toFixed(2))#}
            $('#price').val(price.toString().substring(0, 10))
        }else{
            return
        }
    });

	$('#rate').change(function () {
	    const material_fee = $('#materialfee').val();
	    const num = $('#num').val();
	    const rate = $('#rate').val();
        if (material_fee!='' & num!='' & rate!=''){
            let rate_fee = (parseFloat(material_fee)*parseFloat(rate))/(1+parseFloat(rate));
            const price = (material_fee - rate_fee)/parseFloat(num)
            {#$('#price').val(price.toFixed(2))#}
            $('#price').val(price.toString().substring(0, 10))
        }else{
            return
        }
    });
	$('#num').change(function () {
	    const material_fee = $('#materialfee').val();
	    const num = $('#num').val();
	    const rate = $('#rate').val();
        if (material_fee!='' & num!='' & rate!=''){
            let rate_fee = (parseFloat(material_fee)*parseFloat(rate))/(1+parseFloat(rate));
            const price = (material_fee - rate_fee)/parseFloat(num)
            {#$('#price').val(price.toFixed(2))#}
            $('#price').val(price.toString().substring(0, 10))
        }else{
            return
        }
    });
</script>
{% endblock js %}