{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>出库查询</title>
  <!-- DataTables -->
{% endblock title %}
<link rel="stylesheet" href="{% static 'AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% block navheader %}
<section class="content-header">
	<h1 style="height: 0px">
	出库查询
	<small>Control panel</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> 出库查询</a></li>
	</ol>
</section>
{% endblock navheader %}

{% block content %}
<section class="content">
	<div class="row">
		<div class="box">
			<div class="box-header">
				<form class="form-horizontal">
					<div class="box-body">
						<div>
                            <div class="form-group col-sm-3">
                                <label for="c_outNo" class="col-sm-4 control-label">出库单号：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="c_outNo" placeholder="出库单号">
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="c_m_type" class="col-sm-4 control-label">材料类别：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="c_m_type" placeholder="材料类别">
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="c_m_class" class="col-sm-4 control-label">材料小类：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="c_m_class" placeholder="材料小类">
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="c_m_name" class="col-sm-4 control-label">材料名称：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="c_m_name" placeholder="材料名称">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="form-group col-sm-3">
                                <label for="c_reciTeam" class="col-sm-4 control-label">自用/班组：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="c_reciTeam" placeholder="自用/班组">
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="c_start" class="col-sm-4 control-label">开始时间：</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" id="c_start" placeholder="开始时间">
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="c_end" class="col-sm-4 control-label">结束时间：</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" id="c_end" placeholder="结束时间">
                                </div>
                            </div>
                            <div class="form-group col-sm-3"></div>
                        </div>
                        <div>
                            <div class="form-group col-lg-4" ></div>
                            <div class="form-group col-lg-4" >
                                <button type="button" class="btn btn-default col-sm-3" id="q_btn">查询</button>
                                <span class="col-sm-1"></span>
                                <button type="reset" class="btn btn-default col-sm-3">重置</button>
                                <span class="col-sm-1"></span>
							<button type="export" class="btn btn-default col-sm-3" id="export">导出</button>
                            </div>
                            <div class="form-group col-lg-4" ></div>
                        </div>
                    </div>
					<!-- /.box-body -->
				</form>
			</div>
			<div class="box-body" style="height: 100%">
				<table id="store_table" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th style="width: 90px">出库日期</th>
							<th class="col-lg-1">出库单号</th>
							<th class="col-lg-1" style="width: 170px">材料类别 > 小类</th>
							<!-- <th class="col-lg-1">材料小类</th> -->
							<th>材料名称</th>
							<th class="col-lg-1" style="width: 115px">品牌/规格/型号</th>
							<th>数量</th>
							<th>扣款金额</th>
							<th>单位</th>
							<th>工程部位</th>
							<th>自用/班组</th>
							<th>领用人</th>
							<th>所属项目</th>
							<th>备注</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</section>

{% endblock content %}

{% block js %}
<!-- DataTables -->
<script src="{% static 'AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>
    function c_data(){
        const outNo = trim($('input#c_outNo')[0].value);
        const m_type = trim($('input#c_m_type')[0].value);
        const m_class = trim($('input#c_m_class')[0].value);
		const m_name = trim($('input#c_m_name')[0].value);
		const reciTeam = trim($('input#c_reciTeam')[0].value);
		let data = {csrfmiddlewaretoken:'{{csrf_token}}'};

		if (outNo!=''){
			data['out_No'] = outNo;
		}
		if (m_type!=''){
			data['m_type'] = m_type;
		}
		if (m_class!=''){
			data['m_class'] = m_class;
		}
		if (m_name!=''){
			data['m_name'] = m_name;
		}
		if (reciTeam!=''){
			data['reciTeam'] = reciTeam;
		}
        return data;
    }
    let s_table = $('#store_table').DataTable({
        paging: true,
        lengthChange: false,
        searching: false,
        ordering: true,
        info: true,
        autoWidth: false,
        "ajax":{
			url:'{% url "store:out_data" %}',
			type:'POST',
            async : false,
			data:function(){
				let e=c_data();
				return e;
			},
			dataSrc: ''
		},
        columns:[
            { data: 'date' },
            { data: 'outNo' },
            { data: 'store.mtype_mclass' },
            { data: 'store.mname' },
            { data: 'store.specifi' },
            { data: 'num' },
            { data: 'demount' },
            { data: 'store.unit' },
            { data: 'toWhere' },
            { data: 'reciTeam' },
            { data: 'receiver' },
            { data: 'store.project.name' },
            { data: 'remark' },
        ]
    });

    function trim(str){   
    	return str.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');   
	}

	$('#q_btn').click(function(){
        s_table.ajax.reload();
    });

    $('#export').click(function () {
        alert("-----------------正在开发中-----------------")
    });
    
</script>
{% endblock js %}