{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>项目管理</title>
  <!-- DataTables -->
{% endblock title %}
<link rel="stylesheet" href="{% static 'AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% block navheader %}
<section class="content-header">
	<h1 style="height: 0px">
	项目管理
	<small>Control panel</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> 项目管理</a></li>
	</ol>
</section>
{% endblock navheader %}

{% block content %}
<section class="content">
	<div class="row">
		<div class="box">
			<div class="box-header">
				<form class="form-horizontal">
					<div class="box-body">
						<div class="form-group col-sm-4">
							<label for="project_c" class="col-sm-4 control-label">项目编号：</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="project_c" placeholder="项目编号">
							</div>
						</div>
						<div class="form-group col-sm-4">
							<label for="project_n" class="col-sm-4 control-label">项目名称：</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="project_n" placeholder="项目名称">
							</div>
						</div>
						<div class="form-group col-sm-4">
							<button id="q_btn" type="button" class="btn btn-default col-sm-3">查询</button>
							<span class="col-sm-1"></span>
							<button type="reset" class="btn btn-default col-sm-3">重置</button>
							<span class="col-sm-1"></span>
							<button type="button" class="btn btn-info col-sm-3" onclick="javascript:modal();">新增</button>
						</div>
             			</div>
					<!-- /.box-body -->
				</form>
			</div>
			<div class="box-body" style="height: 100%">
				<table id="project" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th class="col-lg-1">序号</th>
							<th class="col-lg-2">项目编号</th>
							<th class="col-lg-2">项目名称</th>
							<th class="col-lg-2">创建时间</th>
							<th class="col-lg-2">备注</th>
							<th class="col-lg-2 text-center">操作</th>
                            <th class="col-lg-2">ids</th>
						</tr>
					</thead>
                    <tfoot>
                        <tr>
							<th class="col-lg-1">序号</th>
							<th class="col-lg-2">项目编号</th>
							<th class="col-lg-2">项目名称</th>
							<th class="col-lg-2">创建时间</th>
							<th class="col-lg-2">备注</th>
							<th class="col-lg-2 text-center">操作</th>
                            <th class="col-lg-2">ids</th>
						</tr>
                    </tfoot>
				</table>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-project">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				    <span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title">编辑</h4>
				</div>
				<div class="modal-body">
					<!-- form start -->
					<form class="form-horizontal">
						<div class="box-body">
							<input type="text" id="project_id" value="{{ project.id }}" hidden>
							<div class="form-group">
						  		{{project_form.code.label_tag}}
						 		{{project_form.code}}
							</div>
							<div class="form-group">
						  		{{project_form.name.label_tag}}
								{{project_form.name}}
							</div>
							<div class="form-group">
						  		{{project_form.remark.label_tag}}
						  		{{project_form.remark}}
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="save_btn">Save changes</button>
				</div>
			</div>
		<!-- /.modal-content -->
		</div>
          <!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->


<div class="modal fade" id="modal-config">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">操作确认</h4>
            </div>
            <div class="modal-body">
				<i class="Hui-iconfont">&#xe688;</i> 确认删除选中的项？
            </div>
            <div class="modal-footer">
                <a href="#" id="confirmDelete" class="btn bg-red btn-sm ok" data-dismiss="modal">确认</a>
                <a href="#" class="btn bg-green btn-sm" data-dismiss="modal">取消</a>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock content %}

{% block js %}
<!-- DataTables -->
<script src="{% static 'AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script>
    function trim(str){
        return str.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');
    }
    function sdata(){
        const code = trim($('input#project_c').val());
        const name = trim($('input#project_n').val());
        let data = {csrfmiddlewaretoken:'{{csrf_token}}',};
        if (code!=''){
            data['code']=code;
        }
        if (name!=''){
            data['name']=name;
        }
        return data;
    }
    let p_table = $('#project').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
		"ajax":{
			url:'{% url "project:data" %}',
			type:'POST',
			data:function(){
				let e=sdata();
				return e;
			},
			dataSrc: ''
		},
	    "columns": [
	        { data: 'id' },
	        { data: 'name' },
	        { data: 'code' },
	        { data: 'create_time' },
	        { data: 'remark' },
	        { data: null, render: function(data, type, row) {
	            let id=data['id']
                return '<button class="btn btn-sm btn-primary btn-edit" onclick="javascript:modal(\'edit\','+ id +');">编辑</button>'+'&nbsp;&nbsp;<button class="btn btn-sm btn-warning" onclick="javascript:del('+ id +');">删除</button>';
            }},
	        {
	            data: 'id',
                visible: false
            },
	    ],

    });

    p_table.on( 'order.dt search.dt', function () {
        p_table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();


    $('#q_btn').click(function(){
        p_table.ajax.reload();
    });

    function succFunction(res){
		if(res.status==200){
			// 消息框
			toastr.options.timeOut = 1000;
			toastr.options.onHidden = function() { window.location.href = "{% url 'project:lists' %}"; }
			toastr.success(res.msg);
			return true;
		}else{
			toastr.error(res.msg)
		}
	}
	
	function del(id){
		$('#modal-config').modal(); 
		$("#confirmDelete").click(function(){
			$.ajax({
				url:"{% url 'project:del'%}",
				type:'get',
				data:{
					'id':id
				},
				success:succFunction,
			});
			
        });
		
	}
	
    function save(id){
		const code = $('div#modal-project input#code')[0].value;
		const name = $('div#modal-project input#name')[0].value;
		const remark = $('div#modal-project textarea#remark')[0].value;
		$.ajax({
			url:"{% url 'project:save' %}",
			type:'POST',
			data:{
				csrfmiddlewaretoken:'{{csrf_token}}',
				'id':id,
				'code':code,
				'name':name,
				'remark':remark,
			},
			success:succFunction,
		});
	}

    function modal(name, id){
		id = id;
		let title = $('div#modal-project h4.modal-title')[0]
		if(name=='edit'){
			$.ajax({
				url:"{% url 'project:query' %}",
				type:'POST',
				data:{
					csrfmiddlewaretoken:'{{ csrf_token }}',
					'id':id,
				},
				success:function(res){
					let ids = $('div#modal-project input#project_id')[0]
					let code = $('div#modal-project input#code')[0];
					let name = $('div#modal-project input#name')[0];
					let remark = $('div#modal-project textarea#remark')[0];
					//code.setAttribute('text', res[0].code);
					title.textContent='编辑';
					ids.value = id;
					code.value = res[0].code;
					name.value = res[0].name;
					if(res[0].remark==null){
						remark.value = '';
					}
					else{
						remark.value = res[0].remark;
					}
				},
			});
			$("#modal-project").modal();
		}else{
			title.textContent='新增';
			let l = $('input, textarea');
			for(let i =0; i < l.length; i++){
				l[i].value=''
			}
			$("#modal-project").modal();
		}
	}

	$("#save_btn").click(function(){
        let id = $('div#modal-project input#project_id')[0].value;
        save(id);
    });

</script>
{% endblock js %}